:root {
    --primary-color: #4A5568;
    --secondary-color: #ad3c28;
    --overlay-color: rgba(0,0,0,0.7);

    --custom-color1: rgb(121, 121, 121);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:transparent;

    background-color:#1A1A1A;
}

.bounds {
    border: solid red 1px;
}

body {
    font-family: 'Catamaran', sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
}

h1, h2, h3, h4 {
    line-height: 1.3;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.navbar {
    font-size: 1.2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    
}

.navbar .container {
    display: grid;
    /* Creates two even columns for child elements */
    grid-template-columns: repeat(2, 1fr);
}

.navbar .logo {
    font-size: 2rem;
    color: var(--primary-color);
    padding-top:10px;
}

.navbar .nav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav a {
    padding: 0 1rem;
    color: var(--primary-color);
    transition: 400ms ease-out;
    
}

.navbar .nav a:hover {
    /* Add transitions for hover */
    transition: 400ms ease-out;
    transform: scale(1.2);
    color: var(--secondary-color);
}

/* Section A */ 

.section-a {
    margin: 2rem 0;

    background-color:#1A1A1A;
}

.section-a .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem; 
    align-items: center;
    justify-content: center;
}

.section-a .container img {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.71); 
box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.71);
}

.section-a h1 {
    font-size: 4rem;
    color: var(--primary-color)
}

.section-a p {
    margin: 1rem 0;
}

.section-a h3 {
    margin: 1.5rem 0;
    color:rgb(121, 121, 121);
}

/* Section B */

.section-b {
    position: relative;
    background: url('../img/simple-workspace.jpg') no-repeat bottom center/cover;
    height: 600px;
}

.section-b-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding:5rem;

    background-color: transparent;
}

.section-b-inner h3 {
    font-size: 2rem;

    background-color: transparent;
}

.section-b-inner h2 {
    font-size: 5rem;
    margin-top: 1rem;

    background-color: transparent;
}

.section-b-inner p {
    font-size: 1.5rem;
    margin-top: 1rem;

    background-color: transparent;
}

/* Section C */

.section-c .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.section-c .gallery a:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    /* shorthand notation */

    grid-row: 1/3;
    grid-column: 1/3;
}

.section-c .gallery a:nth-child(2) {
    grid-column: 3/5;
}

.section-c .gallery img, .section-c .gallery a {
    width: 100%;
    height: 100%;

}

/* Footer  */

.section-footer {
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
}

.section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    background-color: #4A5568;
}

.section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;

    background-color: #4A5568;
}

.section-footer h3 {
    margin-bottom: 0.7rem;

    background-color: #4A5568;
}

.section-footer a {
    line-height: 1.9;
    color: #ccc;

    background-color: #4A5568;
}

.section-footer a > i {
    color: #fff;
    margin-right: 0.5rem;

    background-color: #4A5568;
}

.footer-col {
    background-color: #4A5568;
}

.footer-compinfo {
    background-color: #4A5568;
}

.section-footer .container li {
    background-color: #4A5568;
}

.section-footer .container p {
    background-color: #4A5568;
}

.footer-color {
    background-color: #4A5568;
}

/* Email Form */

.email-form {
    width:100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;

    background-color: #4A5568;
}

.email-form .form-control {
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;

    background-color: #ccc;
}

.email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    border-radius: 0 20px 20px 0;

    background-color: var(--secondary-color);
}

.icon-color {
    background-color: var(--secondary-color);
}

/* Utilities */

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;

    transition: 300ms ease-in-out;

}

.btn:hover {
    transition: 300ms ease-in-out;
    background: var(--secondary-color);
    transform: scale(1.07);
}

.overlay {
    position: absolute;
    /* Top-Left Corner (next two lines)  */
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    
    background-color: var(--overlay-color);
}

/* Media Query */


/* all styling below only applies if screen size is 700px or less */
@media(max-width: 700px) {

    .navbar .container {
        display: flex;
        flex-direction: column;
        
    }

    .navbar .container h1 {
        text-align: center;
        padding-top:30px;
    }

    .navbar .container ul {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .section-a .container {
        grid-template-columns: 1fr;
        text-align: center;
        padding-bottom: 60px;
    }

    .section-a .container div:first-child {
        order: 2;
    }

    .section-a .container div:last-child {
        order: -1;
    }

    .section-a img {
        width: 80%;
        margin: auto;
    }

    .section-b-inner h2 {
        font-size: 3rem;
    }

    .section-c .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-c .gallery a:first-child {
        grid-row: 1/1;
        grid-column: 1/1;
    }

    .section-c .gallery a:nth-child(2) {
        grid-row: 2/2;
        grid-column: 2/4;
    }

    .section-c .gallery a:last-child {
        display: none;
    }

    .section-footer {
        padding: 2rem 0;
    }

    .section-footer .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-footer .container div:nth-child(2) {
        display: none;
    }

    .section-footer .container div:nth-child(3) {
        display: none;
    }

    .section-footer .container div:last-child {
        height:200px;
    }
}